body{padding: 0; margin: 0; box-sizing: border-box; background-color:rgb(232,232,232);}
.header{
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  
}

.h_images{
  width: 100px;
  object-fit:contain ;
  margin-left: 20px;
  margin-right: 20px;
 
}
.h_search{
  display: flex;
  flex:1;
   
 
}

.h_input{
 padding: 5px;
 border:none;
 width:100%;
 outline-width: 0;
}
.h_icon{
  padding: 1px;
  height: 30px !important;
  width:20%;
  background-color: #cd9042;
}
.h_right{
  display:flex;
  justify-content: space-evenly;
}
.h_options{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.h_link{
  text-decoration: none;
  color: white;
}
.h_s1{
 font-size: 10px;
}
.h_s2{
 font-size: 13px;
 font-weight: bold;
}

.h_optionsB{
  display:flex;
  align-items: center;
}
.h_s22{
   margin: 0 10px ; /*margin-left:10px ;margin-right:10px ; */
  font-size: 13px;
  font-weight: bold;
}

.home{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  
  
}

.hm_image{
  width:100%;
  mask-image:linear-gradient(to bottom, rgba(0,0,0,1) , rgba(0,0,0,0) );
  z-index: -1;
  margin-bottom: -40px;
}

.p_star{
  display: flex;
  margin-top: -15px;
}

.p_prize{
  margin-top: -10px;
}

.p_image{
  max-height:200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 10px;
}

.p_button{
  border: 1px solid #ff9900;
  background-color: #ff9900;
 
}
.p_button:hover{
  cursor: pointer;
}
.product{
  display: flex;
  flex-direction:column;
  
  width:100%;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  
  
}

.p_info{
  height:100px;
  margin-bottom: 20px;
  
}

.hm__products{
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}


.co_image{
  width:100%;
  object-fit: contain;
  margin-bottom: 0;
  
}

.checkoutproduct{
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white;
}
.cop_star{
display: flex;
}
.cop_image{
  width:200px;
  height: 200px;
  object-fit: contain;
  
}
.cop_button{
  border: 1px solid #ff9900;
  background-color: #ff9900;
}

.cop_button:hover{
  cursor: pointer;
}
.cop_info{
  padding-left: 10px;;
}
.cop_title{
  font-weight: bold;
}
.co_p{
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.checkout{
  display: flex;
  padding: 20px;
  height: max-content;
  background-color: #fff;
}
.subtotal{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  margin-left: 5px;
  background-color: #F3F3F3;
  border-radius: 5px;
  padding: 20px;
}
.st_btn{
  width: 100%;
  height: 30px;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #ff9900;
  border-radius: 3px;

}
.st_checkbox{
  display: flex;
  align-items: center;
}
.l_images{
  width:100px;
  object-fit: contain;
  margin-top: 20px;
}
.login{
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.l_form{
  display: flex;
  flex-direction: column;
}

.l_sin{
  width:300px;
  border: 1px solid lightgray;
  padding: 20px;
}
.l_sin >h1{
  font-weight: 500;
}
.l_sin>form>input{
  height: 30px;
  background-color: white;
  width:98%;
  border: 2px solid #ff9900;
}
.l_sin>form>button{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border: 1px solid #ff9900;
  background-color: #ff9900;
  border-radius: 2px;

}
.l_sin >p{
  font-size: 10px;
}
.l_sin >button{
  width:98%;
  width: 100%;
  height: 30px;
 
  border-radius: 2px;
}